{% extends 'fossee_manim/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container-fluid jumbotron" align="justify"
	style="margin-top:20px; padding:50px; background-color: transparent;">
	<!-- style="padding-top:120px"> -->
	<div class="container" style="font-family: 'Open Sans', sans-serif; background-color: transparent;">
		<center>
			<h1>About FOSSEE Animations</h1>
		</center>
		<hr>
		<br><br>
		The FOSSEE Animations Project works on making seemingly complex Science and Mathematics topics feel natural and approachable through animations.
		The animations are created by students across the country. The students work with a mentor in creating a library of visualizations.
		<br>
		FOSSEE Animations is a part of the <a href="https://fossee.in">FOSSEE</a> project at the <a href="https://iitb.ac.in">Indian Institute of Technology, Bombay</a>. The FOSSEE project is funded by the National Mission on Education through ICT, MHRD, Government of India.
		<br><br>
		All animations are made with open-source toolkits and are freely available under a Creative Commons Attribution-ShareAlike 4.0 International License. The animations themselves are open-source. You may find them <a href="https://github.com/FOSSEE/FSF-mathematics-python-code-archive">here</a>.
		<br>
		Anyone can contribute to this project! You may read the <a href="animations.fossee.in/guidelines">Guidelines page</a> for detailed instructions on how you can contribute.
		<br><br>
		<br>
		<center>
			<h2>Activities conducted</h2>
		</center>
		<br>
		Math Internships and Workshops (on Visualizing Math with Open-Source toolkits) are conducted throughout the year. Visit our <a href= "{% url 'fellowship2020' %}">Outreach</a> page for more details on the same.
		<br><br>
		Internships are from selected topics in Mathematics, like Real Analysis, Linear Algebra and Calculus. Our focus lies primarily on an undergraduate level of Mathematics. To view our repository on Mathematics topics, visit <a href="math.animations.fossee.in">math.animations.fossee.in</a>
		<br>
		We also conduct workshops in colleges and universities across India. You can write to us at <a href="mailto:animations@fosseein?subject=feedback">animations@fossee.in</a> to request a workshop at your college.
	</div>
</div>
{% endblock content %}
