{% extends 'fossee_manim/base.html' %}

{% block title %}
Library
{% endblock %}

{% block content %}
<div class="container" style="margin-top:60px; margin-bottom:60px; padding-top:10px">
	<h1>
		<center>Library </center>
	</h1>
	<hr>
	<br> <br>
	{% for anim in anims %}
	<div class="row">
		<div class="col-md-5">
			<a href="{% url 'video' anim.id  %}">
				<img height="90%" width="100%" src="{{ anim.thumbnail.url }}">
			</a>
		</div>
		<div class="col-md-7">
			<h3 style="color:#157b80;"> <a href="{% url 'video' anim.id  %}">{{ anim.animation.title }}</a> </h3>
			<p style="color:grey;"> {{ anim.animation.outline | truncatewords:12}} </p>
			<br>
			<p> Contributor: {{ anim.animation.contributor }}
				<br>
				Category: {{ anim.animation.category }}
				<br>
				<a target="_blank" href="{{ anim.animation.link }}">
					{{ anim.animation.link }}
				</a>
			 </p>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}
