{% extends 'fossee_manim/base.html' %}

{% block title %}
Library
{% endblock %}

{% block content %}
<br> <br>
<div class="container-fluid jumbotron" style="margin-top:20px">
	{% for anim in anims %}
	<div class="row">
		<div class="col-md-4">
			<a href="{% url 'video' anim.id  %}">
				<span class="fa fa-play fa-4x" id="play-btn"></span>
				<img height="90%" width="100%" src="{{ anim.thumbnail.url }}">
			</a>
		</div>
		<div class="col-md-4">
			<p style="color:#157b80; font-size: 300%;"> {{ anim.animation.title }} </p>
			<p style="color:black; font-size: 100%;"> {{ anim.animation.description | truncatewords:5}} </p>
			<a target="_blank" href="{{ anim.animation.github }}">
				<p style="font-size: 70%;"> {{ anim.animation.github }} </p>
			</a>
		</div>
	</div>
	<hr>
	{% endfor %}
</div>
<br>

{% endblock %}
