.navbar{
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
}


.navlink{
    color:white;
    font-size: 18px;
}

p,
h5,
h6,
.card-body,
form{
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
.btn{
    font-family: 'Arsenal', sans-serif;
}
.perma_link:hover{
    background-color:#d1d2d3;
    text-decoration: none;
}
.perma_link a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

#btnblue{
    background-color: #1facb3;
    border-color: transparent;
}

/* #brand{
    font-size: 2vw;
    font-family: "Times New Roman", Georgia, serif;
} */

#tag {
    padding: 15 15 15 15;
    font-size: 3vw;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
}



#center_row {
    background-color: #A5C9FF;
    height: 420px;
    padding: 5%;
    text-align: center;
}

#container_img {
    margin: auto;

}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.example button {
    padding: 6px;
    width: 30%;
    background:#F5404C;
    color: white;
    font-size: 150%;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: red;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

#btns {
    padding:25 25 25 25;
    font-size: 155%;
    font-family: 'Open Sans', sans-serif;
}

#btns > a {
    color: white;
}
iframe {
    margin-bottom: 3%;
}
hr {
    color: grey;
    background-color: gray;
    height: 1px;
}

#r4 {
    margin-bottom: 1%;
}


  /* Style all font awesome icons */
.fa {
    padding: 6px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


#social a{
    color: white;
}


#circle:hover {
    background-color: #ffe0b2;
    border-radius: 50%;
  }

.footer{
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    overflow: hidden;
    text-align: center;
}


navlink:hover{
    color:white;
    background-color: gray;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: white;
}
